
body {
    font-weight: 300;
    font-family: 'Raleway', sans-serif;
}

#backgroundCanvasHolder {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

a {
    text-decoration: none;
    font-weight: 700;
    color: white;
}
.welcome {
    color: white;
    text-align: center;
    padding: 2em 5% 2em 5%;
    z-index: 1;
}

.welcome h1 {
    font-size: 1.3em;
    font-weight: 300;
    margin-bottom: 0.3em;
    padding-bottom: 0.3em;
    border-bottom: 1px solid #fff;
    display: inline-block;
}

.welcome div {
    background: rgba(0, 128, 128, 0.8);
    display: inline-block;
    padding: 2em;
    
}

.welcome p { 
    /* display: inline-block; */
    font-weight: 300;
    text-align: left;
    max-width: 700px;
    margin: auto;
    margin-bottom: 0.33em;
}

@media (min-width:1201px){
    .welcome {
        font-size: 1.7em;
    }
}
@media (max-width: 1200px) and (min-width:901px) {
    .welcome {
        font-size: 1.7em;
    }
}

@media (max-width: 900px) and (min-width:601px) {
    .welcome {
        font-size: 1.4em;
    }
}

@media (max-width: 600px) {
    .welcome {
        font-size: 1.1em;
    }
}

@media (max-width: 400px) {
    .welcome {
        font-size: 1em;
    }
}

@media (max-width: 600px) {
    body {
        padding: 0;
    }
    .welcome {
        padding: 0;
    }
    #hexGrid {
        list-style-type: none;
    }

    .hex {
        width: 100%;
        /* height: 120px;  */
        overflow: hidden;
        position: relative;
    }
    li.hex {
        margin: 0;
        padding: 0;
    }
    .hex:nth-child(2n+1) {
        background-color: rgb(123, 158, 158);
    }
    .hex:nth-child(2n) {
        background-color: rgba(0, 128, 128, 0.8);
    }
    .hexIn {
        width: 100%;
        height: 100%;
    }
    .hexIn:hover {
        background: rgba(30, 30, 30, 0.1);
        transition: background-color .2s ease-out;
    }

    .hex a {
        width: 100%;
        height: 100%;
    }

    .hex img {
        width: 100%;
        height: 100%;
        max-width: 40%;
        object-fit: cover;
        z-index: 1;
        float:left;
        margin: 0;
    }
    .hex h1, .hex p {
        /* margin: 2%; */
        /* position: absolute; */
        color: white;
        z-index: 2;
        font-weight: 300;
    }
    .hex h1 {
        font-size: 1.2em;
        padding: 1em;
    }
    .hex p {
        display: relative;
        margin: 0.2em;
    }
    .hex br {
        clear: both;
    }
}